// LESS for Ampiver IOT Smart Grid Ice Sensor Prototype for SYDE 361, Summer 2015

//
// Global Variables
//
// Colours
@standby: #A0BAB2;     // Mode: temperature and humidity outside range where icing occurs - rgb(160, 186, 178)
@no-current: #FAFB89;  // Mode: lower-than-expected current signal - rgb (250, 251, 137)
@icing-risk: #97FBDA;  // Mode: temperature and humidity indicate ice possibility - rgb(151, 203, 218)
@icing-event: #FF795F; // Mode: ice accretion currently detected on sensor - rgb(255, 121, 95)
@light-blue: #D3F4EF;  // Accent colour - rgb(211, 244, 239)
@dark-blue: #557486;   // Accent colour - rgb(85, 116, 134)

// Size of status circles
@circle-size: 80px;

// Circle mixin with LESS from http://davidwalsh.name/css-circles
.circle(@size: 0, @color: transparent) {
    width: @size;
    height: @size;
    
    -webkit-border-radius: @size / 2 + 0px;
    -moz-border-radius: @size / 2 + 0px;
    border-radius: @size / 2 + 0px;
  
    background-color: @color;
}
.bold-blue-text {
    text-transform: uppercase;
    color: @dark-blue;
    font-weight: bold;
}
// Gradient mixin from: https://github.com/dmitryf/elements/blob/master/elements.less
.gradient(@color: #F5F5F5, @start: #EEE, @stop: #FFF) {
  background: @color;
  background: -webkit-gradient(linear,
                               left bottom,
                               left top,
                               color-stop(0, @start),
                               color-stop(1, @stop));
  background: -ms-linear-gradient(bottom,
                                  @start,
                                  @stop);
  background: -moz-linear-gradient(center bottom,
                                   @start 0%,
                                   @stop 100%);
  background: -o-linear-gradient(@stop,
                                 @start);
  filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",@stop,@start));
}

//
// Styles applied on every page
//
h1, h2 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 800;
    font-style: italic;
    color: @dark-blue;
}
h3 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 600;
    font-style: italic;
    color: @dark-blue;
}
body {
    background-color: @light-blue;
    font-size: 16px;
}
.container {
    background-color: white;
    padding-top: 2em;
}

//
// Sensor readout page
//
#sensor-title {
    text-align: center;
}
#amchartsdemo {
    width: 100%;
    height: 500px;
}
.nav-btn {
    height: 50px;
    width: 50px;
    display: inline-block;
    text-align: center;
}
.nav-btn:hover {
    .gradient(@light-blue, rgba(255,121,95,0.4), rgba(255,121,95,0.4));
    background-image: url("../images/overview-list-icon.png") no-repeat;
    background-size: 100%;
}
#nav-list {
    background: url("../images/overview-list-icon.png") no-repeat;
    background-size: 100%;
}
#nav-map {
    background: @dark-blue;
}
#current-status, .status-container {
    text-align: center;
}
.status-circle:hover { border: @light-blue 3px solid; }
.status-circle { margin: 0px auto; }
.status-circle > .status-content {
    float: left;
    line-height: 1;
    margin-top: -0.5em;
    padding-top: 50%;
    width: 100%;
}
.status-circle.standby { .circle(@circle-size, @standby); }
.status-circle.no-current { .circle(@circle-size, @no-current); }
.status-circle.icing-risk { .circle(@circle-size, @icing-risk); }
.status-circle.icing-event { .circle(@circle-size, @icing-event); }
